<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <nav th:fragment="nav"  class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <p class="navbar-text"><a class="btn" href="/index">首页</a></p>
            <p class="navbar-text"><a class="btn" href="/server/show">服务器信息</a></p>
            <p class="navbar-text"><a class="btn" href="/softs">软件</a></p>
        </div>
    </nav>
    <!--<div th:fragment="nav" style="width: 100%;height: 65px;"></div>-->

    <script th:fragment="forHead" crossorigin="anonymous" integrity="sha384-fJU6sGmyn07b+uD1nMk7/iSb4yvaowcueiQhfVgQuD98rfva8mcr1eSvjchfpMrH" src="https://lib.baomitu.com/jquery/3.3.1/jquery.js"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link th:fragment="forHead" crossorigin="anonymous" integrity="sha384-t4IGnnWtvYimgcRMiXD2ZD04g28Is9vYsVaHo5LcWWJkoQGmMwGg+QS0mYlhbVv3" href="https://lib.baomitu.com/twitter-bootstrap/4.3.1/css/bootstrap.css" rel="stylesheet">
    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link th:fragment="forHead" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script th:fragment="forHead" crossorigin="anonymous" integrity="sha384-rkSGcquOAzh5YMplX4tcXMuXXwmdF/9eRLkw/gNZG+1zYutPej7fxyVLiOgfoDgi" src="https://lib.baomitu.com/twitter-bootstrap/4.3.1/js/bootstrap.js"></script>

</html>
