<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head lang="en">
    <title>搬瓦工SS信息</title>
    <div th:replace="inc/top :: forHead"></div>
    <script src="/js/qrcode.js"></script>
    <style>
        .table{
            max-width: 1440px;
            text-align: center;
            margin: auto;
        }
        .table td{
            width:50%;
        }
        td img{
            margin: auto;
        }
        h2{
            text-align: center;
        }
    </style>
</head>
<body>
    <div th:replace="inc/top :: nav"></div>
    <form id="info">
        <h2>搬瓦工SS信息</h2>
        <table class="table">
            <tr>
                <td>ip:</td>
                <td><input name = "ip"></td>
            </tr>
            <tr>
                <td>port:</td>
                <td><input name = "port"></td>
            </tr>
            <tr>
                <td>password:</td>
                <td><input name = "password"></td>
            </tr>
            <tr>
                <td>pwdType:</td>
                <td><input name = "pwdType"></td>
            </tr>
            <tr>
                <td>ss:</td>
                <td><input name = "ssUrl"></td>
            </tr>
            <tr>
                <td colspan="2" id="qrcode">

                </td>
            </tr>
        </table>
    </form>

</body>
<script>
    $(function(){
        $.ajax({
            type:'get',
            url:'info',
            success:function(data){
                for(var i in data){
                    $('input[name="'+i+'"]').val(data[i]);
                }
                new QRCode($('#qrcode')[0], $('input[name="ssUrl"]').val());
            }
        })
    })
</script>
</html>